@font-face {
    font-family:'vazir';
    src: url('../fonts/Vazir-Regular.ttf') format("woff");

};

@font-face {
    font-family: 'Bnazanin';
    src: url('../fonts/B-NAZANIN.TTF') format(woff);
};

@font-face {
    font-family: Btitr;
    src: url('../fonts/B\ Titr\ Bold_0.ttf') format(woff);
}